<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CustomerMapper">

    <select id="selectListCustomer" parameterType="HashMap" resultType="HashMap">
      <![CDATA[
 
		SELECT   CUSTOMER_CODE       AS customerCode
		       , CUSTOMER_NAME       AS customerName
		       , CUSTOMER_TYPE       AS customerType
		       , CASE WHEN CUSTOMER_TYPE = '1' THEN '거래처'
		              WHEN CUSTOMER_TYPE = '2' THEN '제조사'
		              WHEN CUSTOMER_TYPE = '3' THEN '협력사'
		              WHEN CUSTOMER_TYPE = '4' THEN '기타'   END AS customerTypeNm
		       , MAIN_OPER_NAME      AS mainOperName
		       , SUB_OPER_NAME       AS subOperName
		       , MANAGER_TEL_NO      AS managerTelNo
		       , MANAGER_EMAIL_ADDR  AS managerEmailAddr
		       , TEL                 AS tel
		       , FAX                 AS fax
		       , ADDRESS             AS address
		       , ETC                 AS etc
		       , CEO                 AS ceo
		       , COMPANY_TYPE        AS companyType
		       , CASE WHEN COMPANY_TYPE = '1' THEN '대기업'
		              WHEN COMPANY_TYPE = '2' THEN '관공서'
		              WHEN COMPANY_TYPE = '3' THEN '중소기업'
		              WHEN COMPANY_TYPE = '4' THEN '기타'   END AS companyTypeNm
		       , BIZ_TYPE            AS bizType
		       , BIZ_ITEM            AS bizItem
		       , USE_YN              AS useYn
		       , CREATE_DATE         as createDate
		       , CREATE_ID           as createId
		       , MODIFY_DATE         as modifyDate
		       , MODIFY_ID           as modifyId
		FROM     TB_CUSTOMER
		WHERE    1=1
	  ]]>
      <if test="customerCode != null and customerCode != ''">
          AND CUSTOMER_CODE = #{customerCode}
      </if>
      <if test="customerName != null and customerName != ''">
          AND CUSTOMER_NAME LIKE CONCAT('%',#{customerName},'%')
      </if>
      <if test="customerType != null and customerType != ''">
          AND CUSTOMER_TYPE = #{customerType}
      </if>     
    </select>


    <select id="selectCustomer" parameterType="HashMap" resultType="HashMap">
      <![CDATA[
		SELECT   CUSTOMER_CODE            AS customerCode  
		       , CUSTOMER_NAME            AS customerName  
		       , CUSTOMER_TYPE            AS customerType  
		       , MAIN_OPER_NAME           AS mainOperName  
		       , SUB_OPER_NAME            AS subOperName   
		       , MANAGER_TEL_NO           AS managerTelNo  
		       , MANAGER_EMAIL_ADDR       AS managerEmailAddr
		       , TEL                      AS tel           
		       , FAX                      AS fax           
		       , ADDRESS                  AS address       
		       , ETC                      AS etc           
		       , CEO                      AS ceo           
		       , COMPANY_TYPE             AS companyType   
		       , BIZ_TYPE                 AS bizType       
		       , BIZ_ITEM                 AS bizItem       
		       , USE_YN                   AS useYn         
		       , CREATE_DATE              as createDate    
		       , CREATE_ID                as createId      
		       , MODIFY_DATE              as modifyDate    
		       , MODIFY_ID                as modifyId      
		FROM     TB_CUSTOMER
		WHERE    1=1
		AND      CUSTOMER_CODE = #{customerCode}
	  ]]>

    </select>
    
    <insert id="insertCustomer" parameterType="HashMap" >
		<selectKey resultType="hashmap" keyProperty="customerCode,seq" order="BEFORE">
		SELECT  concat(date_format(now(), '%Y%m%d'), lpad(ifnull(max(SEQ),0)+1,4,'0')) as customerCode
		       ,IFNULL(max(SEQ)+1,1) AS seq
		FROM    TB_CUSTOMER
		WHERE   SUBSTR(CUSTOMER_CODE,1,4) = date_format(now(), '%Y')		
		</selectKey>
     	<![CDATA[ 

			INSERT INTO TB_CUSTOMER
			(
				  CUSTOMER_CODE   
				, SEQ  
				, CUSTOMER_NAME     
				, CUSTOMER_TYPE    
				, MAIN_OPER_NAME    
				, SUB_OPER_NAME     
				, MANAGER_TEL_NO    
				, MANAGER_EMAIL_ADDR
				, TEL               
				, FAX               
				, ADDRESS           
				, ETC               
				, CEO               
				, COMPANY_TYPE      
				, BIZ_TYPE          
				, BIZ_ITEM          
				, USE_YN           
				, CREATE_DATE      
				, CREATE_ID         
				, MODIFY_DATE       
				, MODIFY_ID          
			)
			VALUES
			(
				  #{customerCode}
				, #{seq}     
				, #{customerName}     
				, #{customerType}    
				, #{mainOperName}    
				, #{subOperName}     
				, #{managerTelNo}    
				, #{managerEmailAddr}
				, #{tel}               
				, #{fax}               
				, #{address}           
				, #{etc}               
				, #{ceo}               
				, #{companyType}      
				, #{bizType}          
				, #{bizItem}          
				, #{useYn}           
				, now()      
				, 'ADMINISTRATOR'       
				, now()       
				, 'ADMINISTRATOR'
			)
      ]]>
    </insert>

    <update id="updateCustomer" parameterType="HashMap">
      <![CDATA[

		UPDATE  TB_CUSTOMER
		SET    
				  CUSTOMER_NAME       =  #{customerName}    
				, CUSTOMER_TYPE       =  #{customerType}    
				, MAIN_OPER_NAME      =  #{mainOperName}    
				, SUB_OPER_NAME       =  #{subOperName}     
				, MANAGER_TEL_NO      =  #{managerTelNo}    
				, MANAGER_EMAIL_ADDR  =  #{managerEmailAddr}
				, TEL                 =  #{tel}             
				, FAX                 =  #{fax}             
				, ADDRESS             =  #{address}         
				, ETC                 =  #{etc}             
				, CEO                 =  #{ceo}             
				, COMPANY_TYPE        =  #{companyType}     
				, BIZ_TYPE            =  #{bizType}         
				, BIZ_ITEM            =  #{bizItem}         
				, USE_YN              =  #{useYn}           
				, CREATE_DATE         =  now()              
				, CREATE_ID           =  'ADMINISTRATOR'    
				, MODIFY_DATE         =  now()              
				, MODIFY_ID           =  'ADMINISTRATOR'    
		WHERE     CUSTOMER_CODE       =  #{customerCode}
      ]]>
    </update> 
    
    <delete id="deleteCustomer" parameterType="HashMap">
      <![CDATA[
 
		DELETE FROM  TB_CUSTOMER
		WHERE  CUSTOMER_CODE = #{customerCode}
 
      ]]>
    </delete> 
        
</mapper>